   a{
      font-family: monospace;
      text-decoration: underline;
     	
     }
     a:link{
      color: green;
     }
     
     a:hover{
     	text-decoration: none;
     	color: green;
     	font-family: cursive;
    }
    
    h2{
    font-family: 'Open Sans', sans-serif;
    }
    
    p1{
    	text-decoration: italics;
    }
    
    p1 {
     font-style: italic;
   }  
    tr {
    	font-style: italic:
    }
  tr {
    backround-color: green;
  }
