<!DOCTYPE html>
<html>
    <head>    
       <center><img src="http://blueoctober.com/sway/cover.gif" style="width:400px; height:400px;"</center>
       <h2><center> Sway</center></h2>
      <div style="text-align:center;">
       <h3><a href=”http://www.Blueoctober.com”>Blue October</a>
       <h3> Released 10/30/2013</h3>
       <hr width="100%"> 
       </div>  
    </head>
    <body>
       <h2><center><style="color:blue;font-weight:bold;" Band Members and Producers</center></h2>
       <p1 align="left">
           <ul>
            <li>Justin Furstenfeld-Vocals/Guitar</li>
            <li>Jeremy Furstenfeld-Drums</li>
            <li>Ryan Delahoussaye-Piano</li>
           </ul></p1>
       <table border="1" width="75%">
       <caption>Tracks</caption>
       <tr bgcolor="grey">
       <th>Track #</th>
       <th colspan="1">Title Track</th>
       <th>Length</th>
      </tr>
       <tr>
       <td rowspan="1">1</td>
       
       <td>Breathe, It's Over'</td>
       
       <td>1:13</td>
      </tr>
       <tr>
       <td rowspan="1">2:</td> 
        <td>Sway</td>
       
       <td>4:45</td>
      </tr>
       <tr>
       <td rowspan="1">3:</td>       
       <td>Angels in Everything</td>
       <td>4:24</td>
      </tr>
  </table>       
      
       

</html>
