
body { 
  background: url(/Users/daveokeeffe/hires.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



h1 {
	color: orange;
	font-family: 'Open Sans', sans-serif;
	
}

h4 {
	color: orange;
	text-decoration: underline;
}

p2 {
        color: orange;
    	
}

p1 {
	color: orange;
}

h5 {
	color: orange;
}

a { 
 font-family: monospace;
 
 font-weight: none;
}

a:link {
	color: Orange;
}

a:visited {
	color: green;
}

a:hover {
	font-family: cursive;
}

h3 {
	color: orange;
	text-decoration: underline;
}